.build
.DS_Store
.idea
*.iml
*.xcuserdatad
*.xcuserstate

/.swiftpm
/protoc-gen-connect-swift
/vendor

# buf set up requires a github token to prevent a rate limit.
# TODO: We're currently checking in generated code to side-step this problem.
# gen/proto
